.btn {
  // justify-content: space-between;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn a {
  color: white;
  text-decoration: none;
}
